.toggle {
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  cursor: pointer;
  line-height: 1;
}

.input {
  display: none;
}

.icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: transform 500ms;
}

.icon--moon {
  transition-delay: 200ms;
  &:hover {
    color: #237cb3;
    filter: drop-shadow(1px 1px 2px #828282a3);
  }
}

.icon--sun {
  transform: scale(0);
  &:hover {
    filter: drop-shadow(1px 1px 2px #82828277);
    color: #ffd451;
  }
}

#switch:checked + .icon--moon {
  transform: rotate(360deg) scale(0);
}

#switch:checked ~ .icon--sun {
  transition-delay: 200ms;
  transform: scale(1) rotate(360deg);
}

/* ///////////////////////// */
/* 
.switch {
  position: relative;
  display: flex;
  align-items: center;
  width: 35px;
  height: 15px;
  background-color: #0c0f14;
  border-radius: 30px;
  padding: 4px;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  box-shadow: inset 1px 1px 2px #bcbcbc3e;
}

.switch .svg {
  transition: 300ms ease-in-out;
  position: absolute;
  left: 5px;
}

.switch .moon {
  width: 12px;
  fill: #52555a;
  opacity: 1;
}

.switch .moon:hover {
  fill: #2071a3;
  filter: drop-shadow(1px 1px 4px #191919);
}

.switch .sun {
  transform: translateY(-50%);
  width: 11px;
  height: 11px;
  border-radius: 50%;
  left: 49%;
  top: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 0.8;
  opacity: 0;
}

.switch .sun .dot {
  position: relative;
  display: block;
  width: 2.5px;
  height: 2.5px;
  border-radius: 50%;
  left: 50%;
  z-index: 1;
  box-shadow: 11px 0px 0px #77797e, 10.3px 0px 0px #77797e,
    -11px 0px 0px #77797e, -10.3px 0px 0px #77797e, 0px -11px 0px #77797e,
    0px -10.3px 0px #77797e, 0px 11px 0px #77797e, 0px 10.3px 0px #77797e,
    8px 8px 0px #77797e, 7.3px 7.3px 0px #77797e, 8px -8px 0px #77797e,
    7.3px -7.3px 0px #77797e, -8px -8px 0px #77797e, -7.3px -7.3px 0px #77797e,
    -8px 8px 0px #77797e, -7.3px 7.3px 0px #77797e;
}

.switch:hover .sun .dot {
  position: relative;
  display: block;
  width: 2.5px;
  height: 2.5px;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 11px 0px 0px #ffdf60, 10.3px 0px 0px #ffdf60,
    -11px 0px 0px #ffdf60, -10.3px 0px 0px #ffdf60, 0px -11px 0px #ffdf60,
    0px -10.3px 0px #ffdf60, 0px 11px 0px #ffdf60, 0px 10.3px 0px #ffdf60,
    8px 8px 0px #ffdf60, 7.3px 7.3px 0px #ffdf60, 8px -8px 0px #ffdf60,
    7.3px -7.3px 0px #ffdf60, -8px -8px 0px #ffdf60, -7.3px -7.3px 0px #ffdf60,
    -8px 8px 0px #ffdf60, -7.3px 7.3px 0px #ffdf60;
}

.switch .sun .dot::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #77797e;
}

.switch:hover .sun .dot::before {
  background: #ffda48;
  filter: drop-shadow(1px 1px 4px #7b7b7b72);
  box-shadow: inset 2px 2px 4px #ffb432d2;
}

.switch .circle {
  appearance: none;
  position: relative;
  width: 22px;
  height: 22px;
  left: -22%;
  transition: 500ms ease-in-out;
}

.switch:has(.circle:checked) {
  background: #fffcf4;
}

.switch:has(.circle:checked) > .sun {
  opacity: 1;
  transition: 300ms ease-in-out;
}

.switch:has(.circle:checked) > .moon {
  opacity: 0;
  transition: 300ms ease-in-out;
} */
