/* ==========================================================================
   Header
   ========================================================================== */

.header {
  overflow: hidden;
}

.is-lightmode .header {
  background-color: #fefcf6;
  color: #000;
}

.is-darkmode .header {
  background-color: #262528;
  color: #e0e0e0;
}

.print .header {
  display: none;
}

/* ==========================================================================
   Nav
   ========================================================================== */

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  max-width: 1280px;
  margin: 0 auto;
}

.is-mobile .header__nav {
  font-size: 14px;
}

/* ==========================================================================
   Logo
   ========================================================================== */

.header__logo {
  padding: 24px 24px 18px;
}

.is-mobile .header__logo {
  padding: 22px 16px 20px;
}

/* ==========================================================================
   Logo Img
   ========================================================================== */

.header__logo-desktop-img,
.header__logo-mobile-img {
  display: none;
}

@media (min-width: 769px) {
  .header__logo-desktop-img.light-desktop-mode-logo,
  .header__logo-desktop-img.dark-desktop-mode-logo {
    display: none;
  }

  .is-lightmode .header__logo-desktop-img.light-desktop-mode-logo,
  .is-darkmode .header__logo-desktop-img.dark-desktop-mode-logo {
    display: block;
  }
}

@media (max-width: 768px) {
  .header__logo-mobile-img.light-mobile-mode-logo,
  .header__logo-mobile-img.dark-mobile-mode-logo {
    display: none;
  }

  .is-lightmode .header__logo-mobile-img.light-mobile-mode-logo,
  .is-darkmode .header__logo-mobile-img.dark-mobile-mode-logo {
    display: block;
  }
}

/* ==========================================================================
   Links
   ========================================================================== */

.header__links {
  display: flex;
  padding: 0 24px;
  align-items: center;
}

.is-mobile .header__links {
  padding: 0 12px;
  gap: 4px;
}

/* ==========================================================================
   Link
   ========================================================================== */

.header__link {
  padding: 8px;
  color: inherit;
  font-weight: 600;
  font-weight: bold;
  text-decoration: none;
  text-decoration: underline;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
}

.is-mobile .header__link {
  padding: 4px;
}
