:root {
  --bg-bd-light: #fefcf6;
  --bg-bd-dark: #262528;
  --bg-blue: #135da8; /* darker */
  /* --bg-blue: #3b6fb8; */ /* pastel */
  /* --bg-blue: #0780ff; */ /* original */
  --color-light: #e0e0e0;
  --color-grey: #666666;
  --color-blue-link: #61a1fc;
  --dark-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06),
    0 10px 40px -20px rgba(0, 0, 0, 0.75), 0 20px 60px -25px rgba(0, 0, 0, 0.75),
    0 20px 20px -30px rgba(0, 0, 0, 0.8), 0 40px 30px -40px rgba(0, 0, 0, 0.75),
    0 60px 40px -50px rgba(0, 0, 0, 0.8), 0 16px 32px rgba(0, 0, 0, 1);
}

/* ==========================================================================
   Light Mode
   ========================================================================== */

body {
  transition: background-color 0.5s ease, color 0.5s ease;
}

.footer__select-color-mode-panel {
  display: flex;
  flex-direction: row;
  color: var(--c-light);
}

.footer__select-light-mode-button {
  font-weight: 700;
  font-family: inherit;
}

.footer__select-dark-mode-button {
  color: var(--color-grey);
  cursor: pointer;
  font-weight: 100;
  font-family: inherit;
  &:hover {
    text-decoration: underline;
  }
}

.footer__select-light-mode-button,
.footer__select-dark-mode-button {
  border: none;
  background-color: transparent;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

/* ==========================================================================
   Dark Mode
   ========================================================================== */

body.dark-mode {
  background-color: var(--bg-bd-dark);
  color: var(--color-light);
}

/* index__feature-links */

.dark-mode .index__features a {
  color: var(--color-blue-link);
}

/* desktop-screenshot */

.dark-mode .desktop-screenshot {
  box-shadow: var(--dark-box-shadow);
}

/* index__contact */

.dark-mode .index__contact {
  background: var(--bg-blue);
}

/* Footer */

.dark-mode .footer__link {
  color: var(--color-light);
}

.dark-mode .footer__select-light-mode-button {
  color: var(--color-light);
  font-weight: 100;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.dark-mode .footer__select-dark-mode-button {
  font-weight: 700;
  color: var(--color-light);
  &:hover {
    text-decoration: none;
  }
}

.dark-mode .footer__select-language-button {
  color: var(--color-light);
}
