.toggle {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
  line-height: 1;
  transition: transform 0.2s ease-in-out;
}

.toggle:hover {
  transform: scale(1.1);
  /* border-radius: 50%;
  border: 1px solid #93939316;
  background-color: #adadad2d;
  box-shadow: inset 1px 1px 4px #adadad55; */
}

.toggle:active {
  transform: scale(0.9);
}

.input {
  display: none;
}

.icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: transform 500ms ease-in-out;
}

@keyframes rotateAndScaleIn {
  0% {
    transform: scale(0) rotate(0deg);
  }
  80% {
    transform: scale(1.1) rotate(360deg);
  }
  95% {
    transform: scale(1.05) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

@keyframes rotateAndScaleOut {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1);
  }
  100% {
    transform: scale(0) rotate(360deg);
  }
}

.icon--moon,
.icon--sun {
  transform: scale(0);
  transition: transform 0.4s ease-in-out;
}

#switch:checked + .icon--moon {
  animation: rotateAndScaleOut 0.8s ease-in-out forwards;
}

#switch:checked ~ .icon--sun {
  animation-delay: 0.3s;
  animation: rotateAndScaleIn 1s ease-in-out forwards;
}

#switch:not(:checked) ~ .icon--sun {
  animation: rotateAndScaleOut 0.8s ease-in-out forwards;
}

#switch:not(:checked) + .icon--moon {
  animation-delay: 0.3s;
  animation: rotateAndScaleIn 1s ease-in-out forwards;
}
