.footer__dark-mode-icon {
    border: none;
    background-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin-left: -0.4rem;
    display: block;
}

.footer__dark-mode-icon:hover {
    background-color: #f1efea;
    transition: transform 0.1s;
}

.is-dark .footer__dark-mode-icon:hover {
    background-color: #393939;
}

.footer__dark-mode-icon:active {
    transform: scale(0.9);    
}

.dark-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-icons svg {
    height: 21px;
    width: 21px;
}

/* =========================================================================
    Moon
    ========================================================================= */

.dark-icons.MOON svg {
    fill: #e0e0e0;
}

.is-light .dark-icons.MOON {
    display: none;
}

/* =========================================================================
    Sun
    ========================================================================= */

.dark-icons.SUN svg {
    fill: #000000;
}

.is-dark .dark-icons.SUN {
    display: none;
}
