/* ==========================================================================
   Print Page Setup
   ========================================================================== */

@page {
  margin: 32px;
}

/* ==========================================================================
   Force Background Image Display
   ========================================================================== */

.print * {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

/* ==========================================================================
   Tool: Hide
   ========================================================================== */

.print .print__hide {
  display: none !important;
}

.is-lightmode .print__hide {
  background-color: #fefcf6;
  color: #000;
}

.is-darkmode .print__hide {
  background-color: #262528;
  color: #e0e0e0;
}

/* ==========================================================================
   Tool: Avoid Break Inside
   ========================================================================== */

.print .print__avoid-break-inside {
  break-inside: avoid-page;
}
