/* ==========================================================================
   Print Page Setup
   ========================================================================== */

@page {
  margin: 32px;
}

/* ==========================================================================
   Force Background Image Display
   ========================================================================== */

.print * {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

/* ==========================================================================
   Tool: Hide
   ========================================================================== */

.print .print__hide {
  display: none !important;
}

.is-light .print__hide {
  background-color: var(--bg-light);
  color: #000;
}

.is-dark .print__hide {
  background-color: var(--bg-dark);
  color: var(--color-light);
}

/* ==========================================================================
   Tool: Avoid Break Inside
   ========================================================================== */

.print .print__avoid-break-inside {
  break-inside: avoid-page;
}
